.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  height: 60px;
  align-items: center;
}

.rightHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rightHeader div {
  margin-right: 25px;
}
.button {
  height: 30px;
  width: 100px;

  background-color: white;
  border: 0.5px solid lightgray;
  border-radius: 4px;
}

.mainBody {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LeftBody {
  padding: 20px;
  margin-right: 13px;
}
.logo {
  color: var(--blue);
  font-weight: 500;
}

.cirlce1 {
  z-index: -10;
  position: absolute;
  bottom: -200px;
  right: -200px;
  height: 400px;
  width: 400px;
  background-color: var(--circle);
  border-radius: 100%;
}

.cirlce2 {
  z-index: -10;
  position: absolute;
  bottom: -500px;
  left: -500px;
  height: 1000px;
  width: 1000px;
  background-color: var(--circle);
  border-radius: 100%;
}
.cirlce3 {
  position: absolute;
  top: 90px;
  right: 270px;
  height: 150px;
  width: 150px;
  background-color: var(--circle);
  border-radius: 100%;
  z-index: -10;
}
